


.jfx-text-field{
    -fx-border-color: black;
    -fx-border-radius: 6;
}

.jfx-button{
    -fx-border-radius: 6;
    -fx-border-color: black;

}
/*.jfx-text-field .error-label{
    -fx-alignment : TOP-RIGHT;
    -fx-content-display: RIGHT;
    !*-fx-min-width: 270;
    -fx-pref-width: 270;
    -fx-max-width: 270;*!


}*/

.jfx-text-field .input-line{
    visibility: false;
}

.tab-pane-next .tab{

}

.selected-as-train{
    -fx-background-color: lightgreen;
}

.selected-as-test{
    -fx-background-color: yellow;
}

.selected-as-train-and-test{
    -fx-background-color: rgb(141,174,243);
}

.legend{
    -fx-border-color: black;
}

.table-row-cell:train {
    -fx-background: lightgreen;
}
.table-row-cell:test {
    -fx-background: yellow;
}

.table-row-cell:train-and-test {
    -fx-background: rgb(141,174,243);
}

.table-row-cell:null-row {
    -fx-background: rgb(141,174,243);
}

#menu {
    -fx-background-color: #88F;
    -fx-spacing: 5;
}


.text-field-with-tooltip {
    -fx-text-fill: #88F;
    -fx-underline: true;
}


.visualisation-container{
    -fx-border-color: grey;
}

.borderedHBox{
    -fx-border-color: grey;
}

.visualisation-content{
    -fx-background-color: #1E1E1E;
    -fx-background: #1E1E1E;
}

.visualisation-item{
    -fx-background-color: #1E1E1E;
    -fx-background: #1E1E1E;
}

.visualisation-item:input-hidden-connection {
    -fx-stroke: linear-gradient(to right, #866ED8, #5DD0C0);
    -fx-stroke-line-cap: round;
}

.visualisation-item:input-output-connection {
    -fx-stroke: linear-gradient(to right, #3714B0, #D0006E);
    -fx-stroke-line-cap: round;
}

.visualisation-item:hidden-hidden-connection {
    -fx-stroke: #00A08A;
    -fx-stroke-line-cap: round;
}

.visualisation-item:hidden-output-connection {
    -fx-stroke: linear-gradient(to right, #00A08A, #D0006E);
    -fx-stroke-line-cap: round;
}

.visualisation-item:input-text{
    -fx-fill: #866ED8;
}

.visualisation-item:output-text{
    -fx-fill: #E868AB;
}

.visualisation-item:input-node{
    -fx-border-color: #3714B0;
    -fx-background-color: #866ED8;
    -fx-border-width: 2px;
    -fx-shape: "m21,157.8c0,-22.09945 38.48619,-40 86,-40c47.51381,0 86,17.90055 86,40c0,22.09945 -38.48619,40 -86,40c-47.51381,0 -86,-17.90055 -86,-40z";
    -fx-stroke: linear-gradient(to right, #866ED8, #3714B0);

}

.visualisation-item:output-node{
    -fx-border-color: #D0006E;
    -fx-background-color: #E868AB;
    -fx-border-width: 2px;
    -fx-shape: "m21,157.8c0,-22.09945 38.48619,-40 86,-40c47.51381,0 86,17.90055 86,40c0,22.09945 -38.48619,40 -86,40c-47.51381,0 -86,-17.90055 -86,-40z";
    -fx-stroke: linear-gradient(to left, #E868AB, #D0006E);
}

.visualisation-item:hidden-node{
    -fx-border-color: #00A08A;
    -fx-background-color: #5DD0C0;
    -fx-border-width: 2px;
    -fx-shape: "m21,157.8c0,-22.09945 38.48619,-40 86,-40c47.51381,0 86,17.90055 86,40c0,22.09945 -38.48619,40 -86,40c-47.51381,0 -86,-17.90055 -86,-40z";
}




.visualisation-item:active{

    -fx-border-width: 2px;
    -fx-stroke-width: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,1.0), 5, 0, 0, 0);
    animation: shadow 1s infinite alternate;
}

@keyframes shadow {
    from {
        -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
    }
    to {
        -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 20, 0, 0, 0);
    }
}